<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANtOFhJRrg63J7bioe75JElQjrRn6JUCI</string>
	<key>GCM_SENDER_ID</key>
	<string>126219315901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.uts.Lumora</string>
	<key>PROJECT_ID</key>
	<string>lumora-4437b</string>
	<key>STORAGE_BUCKET</key>
	<string>lumora-4437b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126219315901:ios:6a0f78c988310d65a465d4</string>
</dict>
</plist>